<div class="container mt-5 px-5">
  <div class="row">
    <div class="col-md-6">
      <img
        [src]="product.thumbnail"
        [alt]="product.title"
        class="img-fluid p-3 rounded-1 mb-2"
      />
      <br />
      @for (image of product.images; track product.id) {
      <img [src]="image" [alt]="product.title" class="img-plus rounded-1" />
      }
    </div>
    <div class="col-md-6">
      <h1>{{ product.title }}</h1>
      <p class="text-muted">{{ product.description }}</p>
      <div class="d-flex align-items-center mb-3">
        <div class="text-warning">
          <i *ngFor="let star of getStars(product.rating)" [class]="star"></i>
        </div>
        <span class="ms-2">({{ product.rating | number : "1.1" }})</span>
      </div>

      <hr />
      <h2 class="font-monospace">
        {{
          product.price
            | discountPrice : product.discountPercentage
            | number : "1.2-2"
            | currency : "EGP"
        }}
      </h2>
      <div class="btn-group mb-3">
        <button
          type="button"
          class="btn py-0 px-4 rounded-5 rounded-end-0"
          [style]="bg"
        >
          -
        </button>
        <div type="button" class="btn py-1" [style]="bg">value</div>
        <button
          type="button"
          class="btn py-0 px-4 rounded-5 rounded-start-0"
          [style]="bg"
        >
          +
        </button>
      </div>
      <div class="d-flex gap-2">
        <button class="btn btn-primary">Add to Cart</button>
        <button class="btn btn-outline-secondary">Buy Now</button>
      </div>
      <div class="mt-4">
        <h3>Product Details</h3>
        <ul class="list-unstyled">
          <li><strong>Category:</strong> {{ product.category }}</li>
          <li><strong>Brand:</strong> {{ product.brand || "N/A" }}</li>
          <li><strong>Stock:</strong> {{ product.stock }}</li>
          <li><strong>Rating:</strong> {{ product.rating }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
